.slides {
    font-size: smaller !important;
    transform: unset !important;
    /* width: 100% !important; */
    height: 100% !important;
}

img {
    background-color: unset !important;
}

.present {
    padding: 0 !important;
    height: 100% !important;
}

h4 {
    padding: 20px 0 20px 0;
}

.footer {
    position: fixed;
    left: 0;
    top: auto;
    bottom: 0;
    width: 100%;
    height: 35px;
    background-color: #3288bd;
    display: flex;
}
.first {
    background-color: #f46d43;
    flex: 1;
}
.footer-text {
    flex: 40;
    font-size: small;
    text-align: left;
    padding-left: 10px;
    margin: auto;
    color: white;
}

#footer > div:nth-of-type(1) { 
    background-color: #d53e4f;
    flex: 1;
 }

 #footer > div:nth-of-type(2) { 
    background-color: #fc8d59;
    flex: 1.5;
 }

 #footer > div:nth-of-type(3) { 
    background-color: #fee08b;
    flex: 2;
 }

.title-slide h3 {
    padding-top: 15vh;
}

.twoSides {
    display:flex;
    margin: 10vh auto auto auto;
    text-align: left;
}

.twoSides > div:first-of-type {
    padding-right: 50px;
    font-size: smaller;
    flex-wrap: nowrap;
    flex: 1;
}

.twoSides div:nth-child(2) {
    flex: 2;
}

.iconLine {
    display: flex;
}

.iconLine i {
    padding-right: 10px;
}

.terrestris h4 {
    text-transform: none;
}